<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  
  <!--添加链接字符串示例-->
  <!--<connectionStrings>
    <add name="numericalcontrolsystemEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=numericalcontrolsystem;User ID=sa;Password=123456;Pooling=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    
    <add name="DevForceCodeFirstContext" 
       connectionString="Server=localhost;Database=DevForceCodeFirstDb;Integrated 
         Security=True" providerName="System.Data.SqlClient" />
    -->
    <!--添加对MySql的链接字符串。注意：charset=utf8是为了解决MySql中保存中文的时候出现的乱码的问题。--><!--
    <add name="MySqlDemo" connectionString="server=127.0.0.1;user id=root;password=123;persist security info=True;database=MySqlDemo;charset=utf8;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>-->


</configuration>